{{>layout/header}}

<div id="index" class="d-flex row justify-content-center align-items-center" style="height: 100vh; width: 100vw;">
    <div class="text-center" style="width: 25vw; fw-bolder">
        <div class="display-1 float-left">Rolling</div>
        <div class="display-1 float-right">Page</div>
        <a role="button" href="/start" class="btn btn-dark btn-lg float-left mt-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
            </svg>
            Start Now
        </a>
    </div>
</div>

{{>layout/footer}}